In [1]:
import pandas as pd

In [3]:
companies_df = pd.read_csv('/Data/company_info.csv')

companies_df.head()

,Unnamed: 0,Ticker,Company,Sector,Industry
0,0,MMM,3M,Industrials,Industrial Conglomerates
1,1,AOS,A. O. Smith,Industrials,Building Products
2,2,ABT,Abbott,Health Care,Health Care Equipment
3,3,ABBV,AbbVie,Health Care,Pharmaceuticals
4,4,ACN,Accenture,Information Technology,IT Consulting & Other Services

### The next block of code is used to get each indivdual sector, create a primary key for them and write them out to a csv

In [6]:
sectors_df = pd.DataFrame(companies_df['Sector'].unique(), columns=['Sector'])

sectors_df

                    Sector
0              Industrials
1              Health Care
2   Information Technology
3   Communication Services
4         Consumer Staples
5   Consumer Discretionary
6                Utilities
7               Financials
8                Materials
9              Real Estate
10                  Energy

In [8]:
counter = 1

sectors_df['Sector_Id'] = sectors_df.index.map(lambda x: 'S{:03}'.format(counter + x))

sectors_df

                    Sector Sector_Id
0              Industrials      S001
1              Health Care      S002
2   Information Technology      S003
3   Communication Services      S004
4         Consumer Staples      S005
5   Consumer Discretionary      S006
6                Utilities      S007
7               Financials      S008
8                Materials      S009
9              Real Estate      S010
10                  Energy      S011

In [11]:
sectors_df.to_csv('../Data/sectors_list.csv', index=False)

### The following code block gets all of the industries and sectors in a dataframe, filters out duplicates, adds an industry primary key and sector foreign key and write the data out to a csv.